### Application output ###
*.log


### Build output ###
out/*


### IDE configuration ###
.idea/*


### Deployment-specific configuration ###
config/*.ini


### Build output ###
out/*
.sass-cache/*


### NPM modules ###
node_modules/*
