@import "vendorPrefixes";
@import "common";


html {
	font: {
		family: "Droid Sans", sans-serif;
		size: 100%;
		weight: 300;
	}
}


/* Based on http://www.w3schools.com/Css/css_table.asp */
table#puzzles {
	width: 100%;
	margin-bottom: 0.5vw;
	border: 1px solid black;
	border-collapse: collapse;
	
	tr:nth-child(even) { background-color: #f2f2f2; }
	th, td {
		@include leftAlign;
		padding: 0.5vw 0.5vw;
		border-right: 1px solid black;
		&:last-child { border-right: none; }
	}
	th {
		@include centerHorizontal;
		background-color: #4caf50;
		color: white;
	}
	td.newGlobalOption {
		align: right;
		text-align: right;
	}
}

table#puzzleSentenceTable {
	&, tr, td {
		margin: 0px;
		padding: 0px;
		border: none;
	}
	td {
		min-width: 0.7vw;
		padding: 0px 0.2vw;
	}
	
	/* You can't see spaces properly otherwise */
	td.space { border: 1px solid gray; }
	
	/* User is dragging something over this element */
	td.dropTarget { border-left: 0.3vw solid green; }
	
	border-collapse: collapse;
}

.puzzleId,
.puzzleSentence,
.puzzleOptions {
	&, * { cursor: pointer; }
}


.puzzleGap {
	$size: 2vw;
	display: inline-block;
	width: $size;
	height: $size;
	line-height: $size;
	margin: 0px 0.3vw;
	vertical-align: middle;
	
	background: {
		image: url("../images/border-dashed.svg");
		size: 100% 100%;
	}
	@include border-radius(999px);
	
	&.dropTarget { background-image: url("../images/border-solid-green.svg"); }
}


.puzzleOption {
	display: inline-block;
	@include box-sizing(border-box);
	@include centerHorizontal;
	
	vertical-align: top;
	
	background: {
		color: #eee;
		image: url("../images/border-solid.svg");
		size: 100% 100%;
	}
	@include border-radius(999px);
}

/* Options which are inside a gap */
.puzzleGap > .puzzleOption {
	width: 100%;
	height: 100%;
	&.dropTarget { background-image: url("../images/border-solid-green.svg"); }
}

/* Options which are NOT inside a gap */
:not(.puzzleGap) > .puzzleOption {
	$size: 2vw;
	width: $size;
	height: $size;
	line-height: $size;
	margin: 0.1vw 0.2vw;
	&.dropTarget { border-right: 0.3vw solid green; }
}


#globalOptions {
	#custom { float: right; }
	#list .puzzleOption {
		$size: 3vw;
		width: $size;
		height: $size;
		line-height: $size;
	}
	margin: 1.2vw;
}
