#nextPuzzle.button {
	width:			100%;
}

.blankSpace {
	display:		inline-block;
	width:			24px;
	height:			24px;
	margin:			2px;
	border:			1px solid black;
	text-align:		center;
	vertical-align:	middle;
}

.draggableOption {
	display:		inline-block;
	width:			20px;
	height:			20px;
	margin:			3px;
	border:			1px solid black;
	background:		#eee;
	font-weight:	bold;
	text-align:		center;
	vertical-align:	middle;
}
.blankSpace .draggableOption {
	margin:			0px;
}

#completion_graphic {
	position:		absolute;
	height:			70px;
	padding:		5px;
	pointer-events:	none; /* Allow clicking through the image */
}
