/* Note: Any property starting with the comment "Default" will be overridden in a more specific
 * stylesheet. It is included in this stylesheet as a fallback, so if for some reason the more
 * specific stylesheet isn't available, there will be something to fall back on. */



html {
	/* Default */ font-size: 200%;
}




/******************
 * Helper classes *
 ******************/

.centerHorizontal { text-align: center; }
.centerHorizontal * { display: inline-block; }


/* Spaces all children an equal distance apart, see: https://css-tricks.com/equidistant-objects-with-css/ */
.equidistantHorizontal { text-align: justify; }
.equidistantHorizontal:after {
  /* Ensures there are at least 2 lines of text, so justification works */
  content: '';
  display: inline-block;
  width: 100%;
}
.equidistantHorizontal * { display: inline-block; }




/***********
 * Buttons *
 ***********/

.buttonHolder {
	/* Default */ margin-left: 35vw;
	/* Default */ margin-right: 35vw;
}

.button {
	/* Default */ width: 10vw;
	/* Default */ height: 10vw;
	
	cursor: pointer;
}



/****************
 * Progress bar *
 ****************/

.progressBar {
	width: 100%;
	/* Default */ height: 5vh;
	padding: 2px;
	
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.progressBar * {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	height: 100%;
	
	/* Dividing line between this bar and the next */
	border-right: 1px solid #999;
}
.progressBar *:first-child {
	/* Left corners are rounded to match .progressBar */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.progressBar *:last-child {
	/* No dividing line between this bar and the next (as there isn't a next) */
	border-right: none;
	
	/* Right corners are rounded to match .progressBar*/
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.progressBar *.correct { background: #4fa637; }
.progressBar *.incorrect { background: #db3026; }




/**********************
 * Completion graphic *
 **********************/
 
.completionGraphic {
	position: absolute;
	left: 40vw;
	top: 40vh;
	/* Default */ width: 30vw;
	padding: 5px;
	
	/* Allow click/touch events to pass through the element unaffected */
	/* Note: This is unsupported pre-IE11 */
	pointer-events: none;
}




/***********
 * Puzzles *
 ***********/

#puzzleSentence,
#puzzleAnswer,
#puzzleOptions {
	/* Make all text unselectable. "Note that it's a non-standard feature (i.e. not a part of any
	 * specification). It is not guaranteed to work everywhere [...]"
	 *     - http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting#4407335 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor: default;
}


.puzzleGap {
	display: inline-block;
	
	/* Default */ width: 4vw;
	/* Default */ height: 4vw;
	/* Default */ margin-left: 0.6vw;
	/* Default */ margin-right: 0.6vw;
	/* Default */ margin-top: 0.6vw;
	/* Default */ margin-bottom: 0.6vw;
	
	text-align: center;
	vertical-align: middle;
	
	/* Using a custom SVG for the border as "border: 1px dashed;" is broken in FFox (See: Bugzilla#382721) */
	background-image: url("../images/border-dashed.svg");
	background-size: 100% 100%;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

/* Gaps which are filled with an option */
.puzzleGap:not(:empty) { background-image: none; }

/* Gaps which are NOT filled with an option */
.puzzleGap:empty {}


.puzzleOption {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	
	background: #eee;
	/* Using a custom SVG for the border, mainly to stay consistent with .puzzleGap */
	background-image: url("../images/border-solid.svg");
	background-size: 100% 100%;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

/* Options which are inside a gap */
.puzzleGap > .puzzleOption {
	width: 100%;
	height: 100%;
}

/* Options which are NOT inside a gap */
:not(.puzzleGap) > .puzzleOption {
	/* Default */ width: 5vw;
	/* Default */ height: 5vw;
	/* Default */ margin-left: 2vw;
	/* Default */ margin-right: 2vw;
}

/* Options which are being dragged around */
.puzzleOption.highlight {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
